{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>
            {{ product.name }}
          </td>
          <td>
              <small class="text-muted d-block">{{ product.description }}</small>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}