{% extends 'base.html' %}

{% block title %}Add a New Product{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'product_list' %}">Product List</a></li>
  <li class="breadcrumb-item active">New Product</li>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
      {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Add</button>
  </form>
{% endblock %}
