{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Product List</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_product' %}" class="btn btn-primary">New Product</a>
  </div>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>
            {{ product.name }}
          </td>
          <td>
              <small class="text-muted d-block">{{ product.description }}</small>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}